<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">

    <title>Rodolfo Mori</title>
</head>

<body>
    <%- include('header') %>

    <div class="sidebar">
        <p class="title-bar">Contatos</p>
        <img src="images/bar.png" alt="" class="bar">
        <p>(11) 96829-0266</p>
        <p>linkedin.com/in/rodolfomori</p>
        <p>rod_dolpho@hotmail.com</p>
        <img src="images/doc.png" alt="" class="doc">

        <p class="title"> Pessoal </p>
        <img src="images/bar.png" alt="" class="bar">

        <p>Vila Matilde – São Paulo - SP </p>
        <p>Casado</p>
        <p> 26 Anos de Idade</p>
        <img src="images/doc.png" alt="" class="doc">

        <p class="title"> Habilidades </p>
        <img src="images/bar.png" alt="" class="bar">

        <p class="title"> Idiomas </p>
        <img src="images/bar.png" alt="" class="bar">
        <p class="idiom"> Inglês </p>

        <p class="title"> Cursos </p>
        <img src="images/bar.png" alt="" class="bar">

    </div>

    <div class="about">
        Eu sou um Desenvolvedor Salesforce. Tenho conhecimento nas linguagens de programação Java, Apex, JavaScript, C#,
        C++ e C. Também em NodeJS, Angular, HTML, CSS, Banco de Dados dentre outras tecnologias.
    </div>

    <button type="button" id="teste">teste</button>

    
        <p class="title"> Formação </p>
    <img src="images/bar.png" alt="" class="bar">

    <ul class="bloco" id="formacao">
        <li>
        <li class="principal"> Trailhead </li>
        <li class="instituicao">Salesforce</li>
        <li class="detalhes"> - Badges: 53 Points: 39.000 <br>
            - Meu Trailhead https://trailhead.salesforce.com/me/rodmori </li>
        </li><br>

        <img src="images/doc.png" alt="" class="doc">

        <li>
        <li class="principal"> Análise e Desenvolvimento de Sistemas ( 2019 – 2021 )</li>
        <li class="instituicao"> Impacta </li>
        </li><br>

        <img src="images/doc.png" alt="" class="doc">

        <li>
        <li class="principal">Técnico em Automação ( 2011 – 2013 ) </li>
        <li class="instituicao"> SENAI Roberto Simonsen</li>
        <li class="detalhes"> Adquirido vasto conhecimento em programação em linguagens C, C#, C++, Assembly e Ladder.
            Desenvolvido aplicações práticas e programação de robôs Fanuc e linhas de produção inteligentes
            completamente automatizadas. O TCC foi focado na construção de um robô Hexápode programado em C.</li>

        </li><br>

        <img src="images/doc.png" alt="" class="doc">

        <li class="principal"> Técnico em Administração ( 2006 – 2008 )</li><br>

        <img src="images/doc.png" alt="" class="doc">

        <li class="principal"> Ensino Médio – ETEC CARLOS DE CAMPOS ( 2011 – 2013 )</li><br>

        <img src="images/doc.png" alt="" class="doc">

    </ul>

    <p class="title"> Experiência Profissionais </p>
    <img src="images/bar.png" alt="" class="bar">

    <ul class="bloco">
        <li>
        <li class="principal"> Freelancer </li>
        <li class="instituicao">Desenvolvedor Full Stack</li>
        <li class="detalhes"> - Desenvolvimento de aplicações auxiliando outros desenvolvedores. Aplicações
            utilizando NodeJS, JavaScript, bancos relacionais (MySQL e Postgre), não realacionais (MongoDB) dentre
            outras tecnologias.i </li>

        </li><br>

        <img src="images/doc.png" alt="" class="doc">

        <li>
        <li class="principal"> Metrô de São Paulo – ViaQuatro ( 2014 – Atual )</li>
        <li class="instituicao"> Técnico em Manutenção e Automação ll </li>
        <li class="detalhes">Responsável pelo diagnóstico de falhas e manutenção nos equipamentos e sistemas
            automatizados do Metrô. Manutenção Elétrica, Mecânica e Mecatrônica nos equipamentos. Outras
            atribuições de minha responsabilidade são: confeccionar relatórios precisos de todas as atividades
            desempenhadas, treinamentos a novos funcionários, tratativas de soluções técnicas com diversas áreas
            dentro da empresa, dentre outras.</li>

        </li><br>

        <img src="images/doc.png" alt="" class="doc">

        <li>
        <li class="principal">Sociedade Torre de Vigia – Brasil ( 2013 – 2014 ) </li>
        <li class="instituicao">Voluntário – Técnico de Manutenção Elétrica</li>
        <li class="detalhes"> Realizava manutenções em baixa e média tensão em sistemas e equipamentos elétricos.
        </li>
        </li><br>
    </ul>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../jquery-3.3.1.min.js"></script>
    
        <script>

        $(function(){
            $('#teste').click(function(){
                $('p').slideToggle()
             
            })
        })
   
    </script>
</body>

</html>